/* Feuille de style */
#Maquette
{
	width: 900px;
	margin: auto;
}

#topsection 
{
	display: flex;
	width: 900px;
}
 ul
{
	list-style: none;
	display: flex;
	color: blue;
}
nav li
{
	margin-right: 50px; 
}
nav a:hover
{
	color: grey;
}
#hebergements 
{
	display: flex;
	background-color: rgb(222,222,222);
	 border-radius: 5px;

}
#hebergements figure

{
	display: flex;
	width: 100px;
	flex-wrap: wrap;
}
#Pied footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 5px;
	background-color: rgb(222,222,222);
}
footer
{
	width: 100%;
}
#hebergements img
{
    width: 100px;
    height: 100px;
}
 #hebergements img
{
	justify-content: flex-start;
}
figure img
{
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	width: 200px;
    height: 150px;
	
}
aside
{
	 background-color: rgb(222,222,222);
	  border-radius: 5px;
}

aside img
{
	width: 200px;
    height: 150px;
    border-radius: 5px;
	
}

aside figcaption
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}