#Maquette
{
	width: 90%;
	margin: auto;
	
}

.main_header
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

 ul
{
	list-style: none;
	display: flex;
}
nav li
{
	margin-right: 50px; 
}
nav a:hover
{
	color: grey;
	
}
@font-face{
	font-family: 'Raleway';
	src: url('static/Raleway-Bold.ttf') format('truetype');
}
body
{
	font-family: 'Raleway';
}
header p
{
	font-size: 0.5;
}

.heb 
{
	color: #0065FC;
}
.act
{
	color: black;
}
.insc
{
	color: #0065FC;
	font-weight: bold;

}
#formulaire h1, #formulaire p
{
	margin: 0;
}
#formulaire p
{
	font-size: 1.1em;
	margin-left: 5px;
}

#recherche
{
	justify-content: space-around;
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
#recherche p
{
	height: 35px;
	display: flex;
	margin-left: 5px;
}
#recherche input
{
	height: 100%;
	box-sizing: border-box;
	border:0.5px solid rgb(222,222,222);
}
#recherche button
{
	height: 100%;
	border-radius: 0px 15px 15px 0px;
	border:none;
	background-color: #0065FC;
	color: white;
}
i.localisation
{
	color: black;
	background-color: #F2F2F2;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	border-radius: 15px 0px 0px 15px;
}
.filtres
{
	display: flex;
	justify-content: flex-start;
	text-align: center;
	align-items: center;
	margin-left: 5px;
}
.filtres button
{
	margin-right: 15px;
	border-radius: 18px;
	height: 30px;
	border-left: none;
	border:1px solid rgb(222,222,222);
	padding: 0;
	padding-right: 10px;
	margin-top: 1px;
	
}	
.filtres h3
{
	margin-right: 30px;
}
.filtres i
{
	color: #0065FC;
	width: 30px;
	height: 30px;
	border:none;
	border-radius: 35px;
	text-align: center;
	line-height: 2.3;
	margin-right: 10px;
	background-color: #DEEBFF;
}

.logo
{
	text-align: justify;
	line-height: 2.3;
}
	
}

#selection
{
	border-radius: 15px;
}
.informations i
{
	color: #0065FC; 
	width: 20px;
	height: 20px;
	border:1.5px solid rgb(222,222,222);
	border-radius: 20px;
	text-align: center;
	line-height: 1.5;
	margin-right: 10px;
	font-size: 	0.6em;
}

#hotels
{
	display: flex;
	justify-content: space-around;

}
 #hebergements
{
	width: 60%;
	height: 20%;
	background-color: #F2F2F2;
	border-radius: 15px;
}
#hebergements img
{
	width: 97%;
	height: 50%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	margin: 3px;
	object-fit: cover;
}
#image1
{
	display: flex;
	flex-wrap: wrap;
	padding-right: 1%;
	padding-left: 2%;
	margin-left: -8px;
	margin-right: -8px; 
}
 
 #hebergement, h2
 {
 	margin: 25px;
 }
 .plus, p
 {
 	margin: 25px;
 }
 .contour
 {
 	
	border-radius: 15px;
	background-color: white;
	width: 29%;
	height: 200px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 0%;
	
 }
figcaption
{
	padding: 5%;
	
}
figcaption h3
{
	font-size: 106%;
	margin: 0;
}
.texte
{
	line-height: 3;
}
.texte1
{
	line-height: 4;
}
figcaption p
{
	margin: 1%;

}
figcaption i
{

}
#populaires
{
	width: 36%;
	height: 40%;
	background-color: #F2F2F2;
	border-radius: 15px;
}
#populaires h3
{
	line-height: 1;
}
.pop i
{
	color: black;
}

#populaires img
{
	width: 130px;
	height: 143px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	margin: 3px; 
	object-fit: cover;
	
}
.aligne
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 15px;
	background-color: white;
	height: 150px;
	margin-right: 15px;
	margin-left: 15px;

}
.pop
{
	display: flex;
	justify-content: space-between;
	color: black;
}

.fa_star
{
	color: #0065FC;
}
.fas
{
	color: #0065FC;
}
.etoile 
{
	color: #F2F2F2;
}


aside
{
	width: 36%;
	 background-color: #F2F2F2;
	  border-radius: 15px;
}

#Activites 
{
	display: flex;
	flex-wrap: wrap;
	
}
#Activites img
{
	display: flex;
	flex-direction: row;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px; 
}

.fig1 img
{
	width: 244px;
	height:300px;
	object-fit: cover;
	object-position: top;
}
.fig1
{
	border-radius: 15px;
	box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
-webkit-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
-moz-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
}
figure.fig1
{
	margin-left: 15px;
}

#fig2 img
{
	flex-direction: column;
}
.fig3
{
	border-radius: 15px;
	box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
-webkit-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
-moz-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
}

.fig3 img
{
	width: 244px;
	height:140px;
	object-fit: cover;
}
figure.fig3
{
	margin-left: 15px;
}

.fig6 img
{
	width: 244px;
	height:100px;
	object-fit: cover;
	object-position: top;
}
.fig6
{
	border-radius: 15px;
	box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
-webkit-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
-moz-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
}
figure.fig6
{
	margin-left: 15px;
}

.fig4 img
{
	width: 244px;
	height:300px;
	object-fit: cover;
	object-position: top;
	background-color: white;
}
figure.fig4
{
	margin-left: 15px;
}
.fig4
{
	border-radius: 15px;
	box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
-webkit-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
-moz-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
}

#fig5 img
{
	width: 244px;
	height:120px;
	object-fit: cover;
	object-position: top;
	flex-direction: column;
}
figure.fig7
{
	margin-left: 15px;
}
.fig7
{
	border-radius: 15px;
	box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
-webkit-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
-moz-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
	
}
figure.fig8
{
	margin-left: 15px;
}
.fig8
{
	border-radius: 15px;
	box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
-webkit-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
-moz-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
	
}

footer
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #F2F2F2;

}
@media all and (max-width: 1024px)
{
	#Maquette
	{
		width: auto;
	}
	ul
	{
		display: flex;
		flex-direction: column-reverse;
	}
    .filtres
    {
    	display: flex;
    	flex-direction: column;
    	align-items: flex-start;
    }
    #hotels
    {
    	width: auto;
    	display: flex;
    	flex-direction: column-reverse;
    }
    #hebergements
    {
    	width: auto;
    	background-color:white;
    }
    #hebergements img
    {
    	width: 99%;
    	height: 66%;

    }
    #image1
    {
    	width: auto;
    	display: flex;
    	flex-direction: column;
    }
    #populaires
    {
    	width: auto;
    	border-radius: 0;
    }
     #populaires img
     {
     	height: 300px;
    	width: 330px;
    	border-bottom-left-radius: 35px;
    	border-top-left-radius: 35px;
     }
    .aligne
    {
    	height: auto;
    	padding: 10px;
    	margin: 50px;
	 	border-radius: 35px;
    }
    .contour
    {
    	width: auto;
	    height: 420px;
	    box-shadow: box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
	    -webkit-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
	    -moz-box-shadow: 2px 1px 16px -3px rgba(26,24,24,0.75);
	    background-color: white;
        margin: 20px;
	    margin-left: 5%;
	    margin-right: 5%;
	    border-radius: 35px;
	    padding: 10px;
    }
    #Activites
    {

    	width: fit-content;
    	display: flex;
    	flex-direction: column;
    }
    #Pied
    {
    	
    	display: flex;
    	flex-direction: column;
    }
    footer
    {
    	width: auto;
    }

}











