/* Feuille de style */

#Maquette
{
	width: 900px;
	
}

#topsection 
{
	display: flex;
}
 ul
{
	list-style: none;
	display: flex;
	color: blue;
}
nav li
{
	margin-right: 50px; 
}
nav a:hover
{
	color: grey;


	
}
.i{
	border-radius: 15px;
}
#hebergements

{
	width: 66%;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: space-around;
	flex-direction: row;
	background-color: rgb(222,222,222);
	 border-radius: 15px;

}
#Pied footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 15px;
	background-color: rgb(222,222,222);
}
footer
{
	width: 100%;
}
#hebergements img
{
	display: flex;
    width: 100px;
    height: 50px;
    padding-bottom: 5%;
    padding-left: 0.5%;
    padding-top: 5%;
}
#hebergements, img
{
  border-radius: 15px;
}
figure img
{
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	width: 200px;
    height: 150px;
	
}
aside
{
	 background-color: rgb(222,222,222);
	  border-radius: 15px;
}

aside img
{
	width: 150px;
    height: 150px;
    border-radius: 15px;
	
}

aside figcaption
{
	display: flex;
	justify-content: flex-start;
}
#Activites, figure
{

	display: flex;
	flex-wrap: wrap;

}
#Activites img
{
	width: 200;
	height:150;
}
.at2: nth-child(2)
	flex-shrink;
	
}
#A_propos h1
{
	font-size: 0.5px;
}













